*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Alice';
    background: #FFF4EC;
    color: #0E1428; 
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    font-family: 'Playfair Display';
}

p{
    font-family: 'Playfair Display';
    font-weight: 600;
}

.container{
    padding: 50px;
}

.about-me{
    background-color: #d9d9d9;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 120px;
    height: 120px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #0E1428;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #C98686;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.intro{
    font-size: 18px;
    margin-top: 10px;
}

.header-color{
    background-color: #FFF4EC;
}

/* about */

#about{
    padding: 80px 0;
    color: #0E1428;
    font-family: 'Playfair Display';
}

.bio{
    padding-right: 200px;
    padding-bottom: 15px;
    font-family: 'Fairplay Display';
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #0E1428;
    padding-bottom: 15px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #966B9D;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #966B9D;
    font-size: 14px;
    font-weight: bold;
}

.tab-contents{
    display: none;
    font-weight: 600;
}

.tab-contents.active-tab{
    display: block;
}

/* portfolio */

#portfolio{
    padding: 30px 0;
}

.services-list{
    font-family: 'Fairplay Display';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background-color: #d9d9d9;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform0.5s;
}

.services-list div h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.brochure{
    background-image: url(images/brochure.png);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Playfair Display';
}

.brochure:hover{
    transform: translateY(-10px);
    background-image: url(images/brochure.png);
}

.sop{
    background-image: url(images/SOP-background.PNG);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Playfair Display';
    
}

.sop:hover{
    transform: translateY(-10px);
    background-image: url(images/SOP-background.PNG);
}

.kb-article{
    background-image: url(images/kb-background.PNG);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Playfair Display';
}

.kb-article:hover{
    transform: translateY(-10px);
    background-image: url(images/kb-background.PNG);
}

.project-details{
    width: 80%;
    max-width: 960px;
    object-fit: fill;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    color: #0E1428;
    font-family: 'Playfair Display';
}

.project-name{
    padding-top: 30px;
    font-size: 60px;
    padding-bottom: 10px;
}

.project-subtitle{
    font-size: 18px;
    padding-bottom: 15px;
    color: #545454;
}

.brochure-img{
    max-width: 100%;
    padding-bottom: 15px;
}

.button{
    border-radius: 20px;
    padding: 12px 28px;
    font-size: 18px;
    background-color: #0E1428;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bold;
    border: 0;
}

.button:hover{
    background-color: #966B9D;
    cursor: pointer;
    border: 0;
}

.project-text{
    padding-top: 20px;
    width: 80%;
    max-width: 960px;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 150px;
}

.footer-wrap{
    background-color: #d9d9d9;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 50px;
    display: flex;
    justify-content: center;
}

.fa-brands.fa-linkedin{
    color: #0E1428;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.kb-details{
    background-color: white;
    /* fix font */
    font-family: 'Roboto' !important;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 960px;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
}

.note{
    font-family: 'Roboto' !important;
    background-color: #966B9D;
    padding: 10px;
    color: white;
    font-weight: 500;
    border-radius: 6px;
}

.kb-text{
    font-family: 'Roboto';
}

.kb-title{
    font-family: 'Roboto';
}

.feedback{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fa-thumbs-up{
    padding: 10px;
    font-size: 20px;
    color: grey;
}

.fa-thumbs-up:hover{
    padding: 10px;
    font-size: 20px;
    color: green;
    cursor: pointer;
}

.fa-thumbs-down{
    padding: 10px;
    font-size: 20px;
    color: grey;
}

.fa-thumbs-down:hover{
    padding: 10px;
    font-size: 20px;
    color: red;
    cursor: pointer;
}


/* css for small screen */

nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone-background.png);
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #C98686;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
}
